In [15]:
import pandas as pd

In [16]:
salary = pd.read_csv('decision_tree\salaries.csv')
salary

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [17]:
x = salary[['company','job','degree']]

In [18]:
y = salary.salary_more_then_100k

In [19]:
from sklearn.preprocessing import LabelEncoder
encoded_company = LabelEncoder()
encoded_job = LabelEncoder()
encoded_degree = LabelEncoder()

In [20]:
x['enc_company'] = encoded_company.fit_transform(x['company'])
x['enc_job'] = encoded_job.fit_transform(x['job'])
x['enc_degree'] = encoded_degree.fit_transform(x['degree'])
x

,company,job,degree,enc_company,enc_job,enc_degree
0,google,sales executive,bachelors,2,2,0
1,google,sales executive,masters,2,2,1
2,google,business manager,bachelors,2,0,0
3,google,business manager,masters,2,0,1
4,google,computer programmer,bachelors,2,1,0
5,google,computer programmer,masters,2,1,1
6,abc pharma,sales executive,masters,0,2,1
7,abc pharma,computer programmer,bachelors,0,1,0
8,abc pharma,business manager,bachelors,0,0,0
9,abc pharma,business manager,masters,0,0,1
10,facebook,sales executive,bachelors,1,2,0
11,facebook,sales executive,masters,1,2,1
12,facebook,business manager,bachelors,1,0,0
13,facebook,business manager,masters,1,0,1
14,facebook,computer programmer,bachelors,1,1,0
15,facebook,computer programmer,masters,1,1,1

In [21]:
x.drop(['job','company','degree'],axis=1,inplace=True)
x

    enc_company  enc_job  enc_degree
0             2        2           0
1             2        2           1
2             2        0           0
3             2        0           1
4             2        1           0
5             2        1           1
6             0        2           1
7             0        1           0
8             0        0           0
9             0        0           1
10            1        2           0
11            1        2           1
12            1        0           0
13            1        0           1
14            1        1           0
15            1        1           1

In [24]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [25]:
model.fit(x,y)

DecisionTreeClassifier()

In [26]:
model.score(x,y)

1.0

#### Exercise: Build decision tree model to predict survival based on certain parameters


CSV file is available to download at https://github.com/codebasics/py/blob/master/ML/9_decision_tree/Exercise/titanic.csv

In this file using following columns build a model to predict if person would survive or not,

1. Pclass

2. Sex

3. Age

4. Fare

Calculate score of your model

In [69]:
titanic = pd.read_csv('decision_tree\\titanic.csv')
titanic.dropna(inplace=True)

In [70]:
x = titanic[['Pclass','Age','Sex','Fare']]
x

     Pclass   Age     Sex     Fare
1         1  38.0  female  71.2833
3         1  35.0  female  53.1000
6         1  54.0    male  51.8625
10        3   4.0  female  16.7000
11        1  58.0  female  26.5500
..      ...   ...     ...      ...
871       1  47.0  female  52.5542
872       1  33.0    male   5.0000
879       1  56.0  female  83.1583
887       1  19.0  female  30.0000
889       1  26.0    male  30.0000

[183 rows x 4 columns]

In [71]:
enc_sex = LabelEncoder()
x['encoded_sex'] = enc_sex.fit_transform(x['Sex'])
x

C:\Users\gauta\AppData\Local\Temp\ipykernel_18264\1754944421.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['encoded_sex'] = enc_sex.fit_transform(x['Sex'])

     Pclass   Age     Sex     Fare  encoded_sex
1         1  38.0  female  71.2833            0
3         1  35.0  female  53.1000            0
6         1  54.0    male  51.8625            1
10        3   4.0  female  16.7000            0
11        1  58.0  female  26.5500            0
..      ...   ...     ...      ...          ...
871       1  47.0  female  52.5542            0
872       1  33.0    male   5.0000            1
879       1  56.0  female  83.1583            0
887       1  19.0  female  30.0000            0
889       1  26.0    male  30.0000            1

[183 rows x 5 columns]

In [72]:
x.drop(['Sex'],axis=1,inplace=True)

C:\Users\gauta\AppData\Local\Temp\ipykernel_18264\2896105451.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.drop(['Sex'],axis=1,inplace=True)
C:\Users\gauta\AppData\Local\Temp\ipykernel_18264\2896105451.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.dropna(inplace=True)

In [73]:
y = titanic.Survived
y

1      1
3      1
6      0
10     1
11     1
      ..
871    1
872    0
879    1
887    1
889    1
Name: Survived, Length: 183, dtype: int64

In [77]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [78]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [79]:
model.score(x_test,y_test)

0.8378378378378378